<div class="row mt-sm-2">
  <div class="col-sm-3">
    <div class="jumbotron myjumbotron">
      <form ngNativeValidate #userForm="ngForm" (submit)="add(userForm)">
        <div class="form-group" [ngClass]="{'has-danger': has(error, 'first_name')}">
          <label for="first_name" class="form-control-label"> First name </label>
          <input type="text" id="first_name" class="form-control" placeholder="first_name" [(ngModel)]="user.first_name" name="first_name" required>
          <p class="form-control-feedback" *ngIf="has(error, 'first_name')"> {{ error }} </p>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': has(error, 'email')}">
          <label for="email" class="form-control-label"> Email </label>
          <input type="email" id="email" class="form-control" placeholder="email" [(ngModel)]="user.email" name="email" required>
          <p class="form-control-feedback" *ngIf="has(error, 'email')"> {{ error }} </p>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': has(error, 'password')}">
          <label for="password" class="form-control-label"> Password </label>
          <input type="password" id="password" class="form-control" placeholder="password" [(ngModel)]="user.password" name="password" >
          <p class="form-control-feedback" *ngIf="has(error, 'password')"> {{ error }} </p>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!userForm.valid" class="btn btn-outline-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="jumbotron myjumbotron">
      <div class="row">
        <div class="form-group col-sm-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="search" [(ngModel)]="search.keyword" (change)="refresh()">
            <div class="input-group-addon">
              <i class="fa fa-search" (click)="refresh()"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-1" *ngIf="loading">
          <span class="loader circle-md mt-sm-1"></span>
        </div>
        <div class="col-sm-1 ml-auto mr-sm-3">
          <button type="button" class="btn btn-outline-primary fa fa-refresh" (click)="refresh()"></button>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users"> {{ user.first_name }} "{{ user.email }}"
          <span class="ml-auto">
            <button class="btn btn-outline-primary fa fa-pencil" (click)="prepareUpdate(user)"></button>
            <button class="btn btn-outline-danger fa fa-trash" (click)="delete(user)"></button>
          </span>
        </li>
        <li class="list-group-item mb-sm-3" *ngIf="users.length === 0 && !search.keyword && !loading"> <span class="text-center">No data</span> </li>
        <li class="list-group-item mb-sm-3" *ngIf="users.length === 0 && search.keyword && !loading"> <span class="text-center">No result of {{ search.keyword }} </span> </li>
      </ul>
      <nav class="mt-sm-2" *ngIf="users.length !== 0" aria-label="user pagination">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{active: link.active}" *ngFor="let link of links">
            <a class="page-link" *ngIf="link.value === 0" [routerLink]="'/users'">{{link.label}}</a>
            <a class="page-link" *ngIf="link.value !== 0" [routerLink]="'/users/' + link.value + ''">{{link.label}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
