/* You can add global styles to this file, and also import other style files */
/* body {
  background-color: #e9ebee;
} */

html, body {
  font: "Helvetica Neue", Arial, sans-serif;
}
html {
  background-image: url('./assets/bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background: rgba(255, 255, 255, 0)
}
